<% if !@games.nil? %>
    <table class='table'>
      <thead>
        <th>Played</th>
        <th>Opponent</th>
        <th>Score</th>
        <th>Winner</th>
      </thead>
      <tbody>
      <% @games.each do |game| %>
        <tr> 
          <td><%= game.date_played %></td>
          <td><%= get_player_username(get_opponent(game, current_user.id)) %></td>
          <td><%= game.player_1_score.to_i %> - <%= game.player_2_score.to_i %></td>
	  <td><%= get_player_username(get_match_winner(game)) %></td>        
        </tr>
      <% end %>
      </tbody>
    </table>

    <% will_paginate @games %>
<% else %>
  No games available
<% end %>
